.search-panel {
    background-color: var(--el-bg-color);
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 10px;
    min-height: 10px;
}
.search-panel .el-form-item {
    margin-bottom: 0;
    margin-right: 10px;
}

.table-panel .el-switch {
    height: 0px;
}
.table-panel .el-button-group {
    display: flex;
}

.foot-panel {
    background-color: var(--el-bg-color);
    padding: 5px 0px 5px 10px;
}

.el-transfer-panel {
    width: 300px;
}

.el-transfer-panel__body {
    height: 400px;
}

.el-transfer-panel__list {
    height: 400px;
}
